<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:include="common/header.html"></div>
    <h3>신규 메뉴 등록</h3>
    <form action="/menu/regist" method="post">
        <label>메뉴 이름 : </label><input type="text" name="name"><br>
        <label>메뉴 가격 : </label><input type="number" name="price"><br>
        <label>카테고리 코드 : </label>
        <select name="categoryCode" id="categoryCode"></select><br>
        <label>판매 상태</label>
        <select name="orderableStatus">
        <option value="Y">Y</option>
        <option value="N">N</option>
        </select>
        <input type="submit" value="전송">
    </form>

    <script>
        fetch("/menu/category")
            //
            .then(res => res.json())
            .then(data => {
                // 카테고리 코드라는 id를 가져옴
                const $categoryCode = document.getElementById("categoryCode") // $ 단순히 변수 선언

                for (let index in data) {
                    const $option = document.createElement('option');
                $option.value = data[index].code;
                $option.textContent = data[index].name;

                // node객체만 자식요소(하나의 노드만)로 추가
                $categoryCode.appendChild($option);
            }
        });
    </script>

</body>
</html>